.order-card {
    h2 {
        width: 70%;
        @include sm() {
            width: 100%;
        }
    }
    &__wrapper {
        display: flex;
        @include md() {
            flex-direction: column;
            align-items: center;
        }
    }
    &__ankete {
        flex: 0 0 480px;
        max-width: 480px;
        margin-left: 24px;
        @include md() {
            margin-left: 0;
        }
        @include xs() {
            max-width: 100%;
        }
    }
    &__img {
        width: 396px;
        height: 252px;
        position: relative;
        margin-bottom: 40px;
        img {
            width: 100%;

            height: 100%;
            object-fit: cover;
        }
        @include md() {
            margin-left: auto;
            margin-right: auto;
        }
        @include xs() {
            max-width: 396px;
            width: 90%;
            height: auto;
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 18px;
        .phone-item {
            margin-left: 25px;
            padding-left: 35px;
            width: 350px;
            position: relative;
            a {
                color: #000;
                font-size: 18px;
                font-weight: 600;
                span {
                    color: #000;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
            &:before {
                display: block;
                position: absolute;
                content: "";
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 25px;
                height: 25px;
                background-image: url(../img/ico/phone2.svg);
            }
        }
        @include md() {
            .phone-item {
                margin-right: 0;
            }
        }
        @include xs() {
            flex-direction: column;
            /* align-items: center; */
            text-align: center;
            .phone-item {
                margin-top: 20px;
                margin-left: 0;
                width: auto;
            }
        }
    }
}
