.sale-item {
    width: 320px;
    border-radius: 4px;
    overflow: hidden;
    &:hover {
        .sale-item {
            &__info {
                top:0;
            }
            &__title {
                color: #005493;
            }
        }
    }
    &__img {
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /* .sale-item__info */

    &__info {
        transition: all .3s linear;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 100%;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 5px rgba(0, 84, 147, 0.5);
        border-radius: 4px;
        padding: 18px;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #ffffff;
        display: flex;
        align-items: center;
    }

    /* .sale-item__title */

    &__title {
        transition: all .3s linear;
        margin-top: 15px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #212121;
    }
    @include lg() {
        width: 300px;
    }
    @include md() {
        margin: 15px;
    }
    @include sm() {
        margin:0;
    }
}
